.app-wrapper {
    background: no-repeat;
    height: 100vh;
    width: 100vw;
    background-image: url(https://discordapp.com/assets/b669713872b43ca42333264abf9c858e.svg);
    background-position-x: 450px;
    background-position-y: 280px;
    background-color: #36393f;
}



.scroll-wrapper {
    overflow-y: scroll;
    height: 100%;
    background-color: #202225
   
}

.server-index {
    display: flex;
    flex-direction: column;
    width: 72px;
    font-size: 16px;
    background-color: #202225;
    /* height: 100%; */
    align-items: center;
}

.server-index.li {
   display: flex;
   /* align-items: center;
   justify-content: center;  */
}
 
.server-icon-wrap {
   height: 48px;
   width: 48px;
   display: inline-block;
   align-items: center;
   justify-content: center;
   margin-top: 9px;
   position: relative;
}

.server-open {
    background-color: #36393f;
    border-color: #36393f;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    color: #dcdded;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color .15s ease-out,color .15s ease-out;
}


.server-open:hover {
    background-color: #7289da;
    border-radius: 15px;
    color: #fff;
}

.server-open:focus {
    background-color: #7289da;
    border-radius: 15px;
    color: #fff;
}

.server-open.join-create {
    margin-top: 9px;
    color: #43b581


}

.server-open.active {
    background-color: #7289da;
    border-radius: 15px;
    color: #fff;
}



.server-open.join-create:hover {
    color: #dcdded;
    background-color: #43b581;
}

.server-open.join-create:focus {
    color: #dcdded;
    background-color: #43b581;
}

.server-icon-hover {
    visibility: hidden;
    position: absolute;
    background-color: black;
    color: #dcdded;
    padding: 9px;
    border-radius: 6px;
    font-size: 12px;
    text-align: left;
    font-weight: 500;
    max-width: 200px;
    white-space: nowrap;
    box-sizing: border-box;
    z-index: 3;
}

div.hover-wrap {
    width: 175px;
    height: 25px;
    visibility: hidden;
    position: relative;
    margin-left: 114%;
    margin-top: -88%;

}

.server-icon-hover::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
 
}

.server-icon-wrap:hover .server-icon-hover {
    visibility: visible;
}

/* div.server-icon-hover:hover {
    display: block;
} */

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.server-open.join-create.logout  {
    left: 10px;
    top: 57%;
    font-size: 13px;
    color: rgb(180, 62, 62);
   

}

.server-open.join-create.logout:hover {
    /* background-color:rgba(240, 71, 71, 0.1); */
    background-color: rgb(180, 62, 62);
    /* border-color: black; */
    color: white;

}

.server-seperator {
    border-bottom: 2px solid #2d2f32;
    height: 8px;
    width: 32px;
    border-radius: 1px
}

.selected-icon-wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 8px;
    height: 48px;
}

.selected-icon {
    position: absolute;
    opacity: 0;
    background-color: white;
    height: 20px;
    width: 8px;
    border-radius: 0 4px 4px 0;
    margin-left: -16px;
    transition: transform .25s ease-in 0s;
}

.server-icon-wrap:hover .selected-icon {
    opacity: 1;
    
}
.selected-icon-wrap.active .selected-icon {
    transform: scaleY(2);
    opacity: 1;
}
