a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

form.login-form-box {
    background: #36393f;
    justify-content: center;
    width: 480px;
    padding: 40px;
    font-size: 18px;
    color: #72767d;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

div.login-form-title {
    font-size: 26px;
    line-height: 32px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #fff;
    font-weight: 300;
    margin-bottom: 8px;
}

div.login-form {
    text-align: center;
    width: 100%;
}

div.login-form-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #72767d;
    font-weight: 500;
}

div.login-form h5 {
    color: #8e9297;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-bottom: 8px;
}

div.input-margin-top20-block {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

div.input-margin-bottom20 {
    margin-bottom: 20px;
}

div.input-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

input.login-input {
    padding: 10px;
    height: 40px;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    color: #dcddde;
    background-color: rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.3);
}

input.session-submit {
    color: #fff;
    background-color: #7289da;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    width: 100%;
    height: 44px;
    min-width: 130px;
    min-height: 44px;
    border-radius: 3px;
    cursor: pointer;
}

button.forgot-password {
   color: #7289da;
    display: block;
    padding-left: 0;
    padding-right: 0; 
    margin-bottom: 20px;
    margin-top: 4px;
    width: auto;
    cursor: pointer;
}

div.forgotpw-content {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #7289da;
    background: #36393f;
}